/* Fonts */

@font-face {
    font-family: 'FiraCodeRegular'; 
    src: url("../fonts/FiraCode/FiraCode-Regular.ttf") format('truetype');
    font-weight: normal;
}

/* General */

body {
    transition: background-color 0.3s, color 0.3s;
    font-family: 'FiraCodeRegular';
}

/* Icons */

i {
    transition: color 0.3s ease;
}

i:hover {
    color: #696969;
}

/* Tech Stack Grid */

.tech-stack-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
}

.tech-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid #696969;
    border-radius: 8px;
    transition: transform 0.3s;
}

.tech-tile:hover {
    transform: scale(1.05);
}

.tech-tile img {
    width: 100%;
    margin-bottom: 5px;
}

.tech-tile span {
    font-size: 0.9rem;
}

/* Mobile Tech Stack Grid */

@media (max-width: 600px) {
    .tech-stack-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        gap: 0.5rem;
    }

    .tech-tile {
        padding: 5px;
        border-width: 1px;
        border-radius: 6px;
    }

    .tech-tile img {
        width: 50%;
        margin-bottom: 3px;
    }

    .tech-tile span {
        font-size: 0.8rem;
    }
}

